# Importing files & Exploring the data

In [1]:
import pandas as pd
import numpy as np

In [4]:
census_data= pd.read_csv('acs2015_county_data.csv')
census_data.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [5]:
census_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3220 entries, 0 to 3219
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CensusId         3220 non-null   int64
 1   State            3220 non-null   object
 2   County           3220 non-null   object
 3   TotalPop         3220 non-null   int64
 4   Men              3220 non-null   int64
 5   Women            3220 non-null   int64
 6   Hispanic         3220 non-null   float64
 7   White            3220 non-null   float64
 8   Black            3220 non-null   float64
 9   Native           3220 non-null   float64
 10  Asian            3220 non-null   float64
 11  Pacific          3220 non-null   float64
 12  Citizen          3220 non-null   int64
 13  Income           3219 non-null   float64
 14  IncomeErr        3219 non-null   float64
 15  IncomePerCap     3220 non-null   int64
 16  IncomePerCapErr  3220 non-null   int64
 17  Poverty          3220 non-null   float64
 18  ChildPoverty     3219 non-null   float64
 19  Professional     3220 non-null   float64
 20  Service          3220 non-null   float64
 21  Office           3220 non-null   float64
 22  Construction     3220 non-null   float64
 23  Production       3220 non-null   float64
 24  Drive            3220 non-null   float64
 25  Carpool          3220 non-null   float64
 26  Transit          3220 non-null   float64
 27  Walk             3220 non-null   float64
 28  OtherTransp      3220 non-null   float64
 29  WorkAtHome       3220 non-null   float64
 30  MeanCommute      3220 non-null   float64
 31  Employed         3220 non-null   int64
 32  PrivateWork      3220 non-null   float64
 33  PublicWork       3220 non-null   float64
 34  SelfEmployed     3220 non-null   float64
 35  FamilyWork       3220 non-null   float64
 36  Unemployment     3220 non-null   float64
dtypes: float64(27), int64(8), object(2)
memory usage: 930.9+ KB

In [6]:
voting_data= pd.read_csv('countypres_2000-2016.csv')
voting_data.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203

In [260]:
is_2016 =  voting_data['year']==2016
voting_data_2016 = voting_data[is_2016]
voting_data_2016.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
40517,2016,Alabama,AL,Autauga,1001.0,President,Hillary Clinton,democrat,5936.0,24973,20191203
40518,2016,Alabama,AL,Autauga,1001.0,President,Donald Trump,republican,18172.0,24973,20191203
40519,2016,Alabama,AL,Autauga,1001.0,President,Other,NaN,865.0,24973,20191203
40520,2016,Alabama,AL,Baldwin,1003.0,President,Hillary Clinton,democrat,18458.0,95215,20191203
40521,2016,Alabama,AL,Baldwin,1003.0,President,Donald Trump,republican,72883.0,95215,20191203

In [261]:
voting_data_2016['year'].value_counts()

2016    9474
Name: year, dtype: int64

In [263]:
raj = voting_data_2016['county'].unique()
raj

array(['Autauga', 'Baldwin', 'Barbour', ..., 'District 39', 'District 40',
       'District 99'], dtype=object)

# For the 1st state in the list

In [327]:
sta = voting_data_2016['state'].unique()
sta

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'District of Columbia', 'Florida',
       'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Alaska'], dtype=object)

In [361]:
voting_data_fin = pd.DataFrame()
voting_data_fin

Empty DataFrame
Columns: []
Index: []

In [362]:
is_Alabama =  voting_data_2016['state']=='Alabama'
voting_data_Alabama = voting_data_2016[is_Alabama]

list2 = []
for i in raj:
    df = voting_data_Alabama[voting_data_Alabama['county'] == i]
    max1 = df['candidatevotes'].max()
    df1 = df[df.candidatevotes.eq(max1)]
    df2 = df1[["state","county","party","candidatevotes"]]
    list2.append(df2.T.to_dict())

In [363]:
df_val1 = pd.DataFrame()
for i in range(0, len(list2)):
    val = list2[i].values()
    df_val = pd.DataFrame(val)
    df_val1 = df_val1.append(df_val, True)
df_val1

      state      county       party  candidatevotes
0   Alabama     Autauga  republican         18172.0
1   Alabama     Baldwin  republican         72883.0
2   Alabama     Barbour  republican          5454.0
3   Alabama        Bibb  republican          6738.0
4   Alabama      Blount  republican         22859.0
..      ...         ...         ...             ...
62  Alabama  Tuscaloosa  republican         47723.0
63  Alabama      Walker  republican         24266.0
64  Alabama  Washington  republican          6042.0
65  Alabama      Wilcox    democrat          4339.0
66  Alabama     Winston  republican          9228.0

[67 rows x 4 columns]

In [364]:
list3 = []
for i in range(0,len(df_val1)):
    st1 = df_val1.state[i]
    ct1 = df_val1.county[i]
    party = df_val1.party[i]  
    for j in range(0, len(census_data)):
        st2 = census_data.State[j]
        ct2 = census_data.County[j]
        if ((st1 == st2) & (ct1 == ct2)):
            list3.append(party)

In [365]:
is_Alabama1 =  census_data['State']=='Alabama'
voting_data_Alabama1 = census_data[is_Alabama1]
voting_data_Alabama1

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,Party
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6,republican
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5,republican
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6,republican
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3,republican
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7,republican
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,1125,Alabama,Tuscaloosa,200458,96781,103677,3.2,63.5,30.6,0.1,...,0.9,2.5,22.1,87695,77.0,18.9,4.0,0.1,7.6,republican
63,1127,Alabama,Walker,65923,32013,33910,2.3,89.6,5.7,0.1,...,1.0,1.3,30.0,24043,78.3,15.3,6.2,0.2,11.4,republican
64,1129,Alabama,Washington,16997,8490,8507,1.3,65.2,24.9,8.1,...,1.0,1.3,32.6,5656,77.4,16.1,6.0,0.4,20.0,republican
65,1131,Alabama,Wilcox,11235,5376,5859,0.6,27.4,72.0,0.0,...,0.9,4.2,22.6,2838,68.9,26.0,5.1,0.0,20.8,democrat
66,1133,Alabama,Winston,24130,11876,12254,2.8,94.3,0.5,0.3,...,1.8,1.5,26.8,8894,74.3,16.0,9.6,0.1,9.6,republican

In [366]:
voting_data_Alabama1['Party'] = list3
voting_data_fin = pd.DataFrame(voting_data_Alabama1)
voting_data_fin

<ipython-input-366-af4f0fb3bb97>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  voting_data_Alabama1['Party'] = list3

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,Party
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6,republican
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5,republican
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6,republican
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3,republican
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7,republican
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,1125,Alabama,Tuscaloosa,200458,96781,103677,3.2,63.5,30.6,0.1,...,0.9,2.5,22.1,87695,77.0,18.9,4.0,0.1,7.6,republican
63,1127,Alabama,Walker,65923,32013,33910,2.3,89.6,5.7,0.1,...,1.0,1.3,30.0,24043,78.3,15.3,6.2,0.2,11.4,republican
64,1129,Alabama,Washington,16997,8490,8507,1.3,65.2,24.9,8.1,...,1.0,1.3,32.6,5656,77.4,16.1,6.0,0.4,20.0,republican
65,1131,Alabama,Wilcox,11235,5376,5859,0.6,27.4,72.0,0.0,...,0.9,4.2,22.6,2838,68.9,26.0,5.1,0.0,20.8,democrat
66,1133,Alabama,Winston,24130,11876,12254,2.8,94.3,0.5,0.3,...,1.8,1.5,26.8,8894,74.3,16.0,9.6,0.1,9.6,republican

# For the other states

In [402]:
sta = voting_data_2016['state'].unique()
sta

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'District of Columbia', 'Florida',
       'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Alaska'], dtype=object)

In [772]:
is_Alabama =  voting_data_2016['state']=='Alaska'
voting_data_Alabama = voting_data_2016[is_Alabama]

list2 = []
for i in raj:
    df = voting_data_Alabama[voting_data_Alabama['county'] == i]
    max1 = df['candidatevotes'].max()
    df1 = df[df.candidatevotes.eq(max1)]
    df2 = df1[["state","county","party","candidatevotes"]]
    list2.append(df2.T.to_dict())

In [773]:
df_val1 = pd.DataFrame()
for i in range(0, len(list2)):
    val = list2[i].values()
    df_val = pd.DataFrame(val)
    df_val1 = df_val1.append(df_val, True)
df_val1

     state       county       party  candidatevotes
0   Alaska   District 1  republican          3180.0
1   Alaska   District 2  republican          3188.0
2   Alaska   District 3  republican          5403.0
3   Alaska   District 4    democrat          4162.0
4   Alaska   District 5  republican          3683.0
5   Alaska   District 6  republican          4929.0
6   Alaska   District 7  republican          5935.0
7   Alaska   District 8  republican          6126.0
8   Alaska   District 9  republican          6100.0
9   Alaska  District 10  republican          6255.0
10  Alaska  District 11  republican          6444.0
11  Alaska  District 12  republican          6629.0
12  Alaska  District 13  republican          4028.0
13  Alaska  District 14  republican          5978.0
14  Alaska  District 15  republican          2525.0
15  Alaska  District 16    democrat          3294.0
16  Alaska  District 17    democrat          3290.0
17  Alaska  District 18    democrat          3909.0
18  Alaska  District 19    democrat          2669.0
19  Alaska  District 20    democrat          4151.0
20  Alaska  District 21    democrat          4224.0
21  Alaska  District 22  republican          4203.0
22  Alaska  District 23  republican          3246.0
23  Alaska  District 24  republican          4709.0
24  Alaska  District 25  republican          3816.0
25  Alaska  District 26  republican          4548.0
26  Alaska  District 27  republican          4085.0
27  Alaska  District 28  republican          5423.0
28  Alaska  District 29  republican          6347.0
29  Alaska  District 30  republican          6194.0
30  Alaska  District 31  republican          5617.0
31  Alaska  District 32  republican          3764.0
32  Alaska  District 33    democrat          5978.0
33  Alaska  District 34    democrat          4220.0
34  Alaska  District 35  republican          4105.0
35  Alaska  District 36  republican          4460.0
36  Alaska  District 37    democrat          2421.0
37  Alaska  District 38    democrat          2758.0
38  Alaska  District 39    democrat          3142.0
39  Alaska  District 40    democrat          2338.0
40  Alaska  District 99    democrat           274.0

In [774]:
list3 = []
for i in range(0,len(df_val1)):
    st1 = df_val1.state[i]
    ct1 = df_val1.county[i]
    party = df_val1.party[i]  
    for j in range(0, len(census_data)):
        st2 = census_data.State[j]
        ct2 = census_data.County[j]
        if ((st1.lower() == st2.lower()) & (ct1.lower() == ct2.lower())):
            list3.append(party)

In [775]:
len(list3)

0

In [776]:
is_Alabama1 =  census_data['State']=='Alaska'
voting_data_Alabama1 = census_data[is_Alabama1]
voting_data_Alabama1

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,Party
67,2013,Alaska,Aleutians East Borough,3304,2198,1106,12.0,15.0,9.2,29.0,...,2.2,2.8,4.9,2519,78.6,15.4,5.9,0.2,2.9,republican
68,2016,Alaska,Aleutians West Census Area,5684,3393,2291,11.0,27.8,4.6,12.9,...,3.2,4.9,7.6,3787,77.9,18.9,3.2,0.0,2.1,republican
69,2020,Alaska,Anchorage Municipality,299107,153122,145985,8.6,60.3,5.5,6.3,...,4.0,3.7,19.5,152355,73.3,20.9,5.7,0.1,6.7,republican
70,2050,Alaska,Bethel Census Area,17776,9351,8425,1.8,11.3,0.8,80.6,...,22.6,4.8,7.4,6232,53.2,44.8,2.0,0.0,17.6,republican
71,2060,Alaska,Bristol Bay Borough,970,553,417,7.1,53.4,0.5,29.0,...,3.0,5.0,10.4,541,49.7,39.2,11.1,0.0,5.4,republican
72,2068,Alaska,Denali Borough,2060,1126,934,2.6,84.7,0.6,3.5,...,2.4,26.7,17.9,1210,66.4,24.5,7.9,1.2,2.3,republican
73,2070,Alaska,Dillingham Census Area,4979,2589,2390,2.9,17.7,0.3,71.7,...,17.7,7.2,8.8,1854,58.5,37.8,3.7,0.0,12.5,republican
74,2090,Alaska,Fairbanks North Star Borough,99705,53477,46228,7.4,71.9,4.1,5.7,...,3.3,3.4,19.2,46661,65.8,29.9,4.1,0.2,7.9,republican
75,2100,Alaska,Haines Borough,2560,1387,1173,1.5,79.6,0.0,6.4,...,9.0,7.4,8.2,1470,69.0,19.7,10.3,1.0,3.0,republican
76,2105,Alaska,Hoonah-Angoon Census Area,2128,1129,999,2.2,49.3,2.2,32.4,...,10.5,11.0,9.0,1086,53.5,30.9,15.6,0.0,13.1,republican
77,2110,Alaska,Juneau City and Borough,32531,16645,15886,6.1,66.0,1.2,11.8,...,2.2,2.8,15.1,17836,53.3,38.8,7.7,0.1,5.2,republican
78,2122,Alaska,Kenai Peninsula Borough,57221,29974,27247,3.7,81.7,0.6,7.3,...,8.1,6.8,19.7,25637,72.2,17.4,9.8,0.5,9.4,republican
79,2130,Alaska,Ketchikan Gateway Borough,13699,7038,6661,4.8,65.0,0.4,13.6,...,2.3,2.5,13.0,6655,62.7,29.5,7.3,0.6,7.9,republican
80,2150,Alaska,Kodiak Island Borough,13973,7468,6505,8.5,51.4,0.4,13.3,...,4.7,4.3,11.3,7032,65.0,25.3,9.4,0.3,6.3,republican
81,2158,Alaska,Kusilvak Census Area,7914,4200,3714,1.0,4.5,0.4,87.4,...,39.1,4.7,5.9,2067,45.4,53.8,0.5,0.3,28.6,republican
82,2164,Alaska,Lake and Peninsula Borough,1474,731,743,2.2,21.0,0.5,67.6,...,32.4,2.4,6.0,657,42.2,51.6,6.1,0.2,9.8,republican
83,2170,Alaska,Matanuska-Susitna Borough,96178,50205,45973,4.5,80.8,1.0,5.1,...,6.8,5.7,34.0,40854,70.6,21.5,7.8,0.2,9.8,republican
84,2180,Alaska,Nome Census Area,9854,5272,4582,2.0,16.5,0.7,69.8,...,22.7,4.3,7.0,3654,50.6,44.0,5.2,0.2,16.5,republican
85,2185,Alaska,North Slope Borough,9667,6172,3495,3.6,32.2,0.5,47.4,...,7.9,14.3,8.4,5499,73.8,25.2,0.9,0.0,9.3,republican
86,2188,Alaska,Northwest Arctic Borough,7732,4165,3567,1.8,11.8,0.3,81.5,...,21.2,4.6,7.4,2593,54.0,43.7,2.1,0.2,21.9,republican
87,2195,Alaska,Petersburg Borough,3221,1708,1513,9.4,68.6,3.0,5.9,...,6.6,2.5,7.5,1665,54.8,33.2,11.5,0.5,8.4,republican
88,2198,Alaska,Prince of Wales-Hyder Census Area,6376,3468,2908,3.2,46.0,0.2,40.3,...,7.3,4.6,14.0,2819,50.4,37.7,11.8,0.1,13.9,republican
89,2220,Alaska,Sitka City and Borough,8943,4584,4359,6.0,62.7,1.1,13.6,...,7.7,5.1,11.9,4756,60.1,28.2,11.7,0.0,3.8,republican
90,2230,Alaska,Skagway Municipality,999,527,472,4.5,75.3,0.0,5.0,...,6.2,5.1,5.5,676,68.2,22.5,7.5,1.8,7.8,republican
91,2240,Alaska,Southeast Fairbanks Census Area,7029,3909,3120,4.8,76.7,1.1,10.5,...,1.1,15.1,13.0,3038,64.0,27.8,7.8,0.4,9.4,republican
92,2261,Alaska,Valdez-Cordova Census Area,9617,5137,4480,4.4,70.1,0.0,14.8,...,3.0,6.7,9.6,4415,56.6,32.9,10.1,0.4,10.7,republican
93,2275,Alaska,Wrangell City and Borough,2387,1227,1160,1.4,68.5,0.2,17.3,...,4.2,6.0,8.5,1088,54.0,32.5,13.4,0.0,7.5,republican
94,2282,Alaska,Yakutat City and Borough,643,367,276,2.6,39.3,1.4,32.2,...,1.4,5.1,6.3,375,52.8,37.1,10.1,0.0,7.9,republican
95,2290,Alaska,Yukon-Koyukuk Census Area,5644,3038,2606,1.9,21.8,0.3,69.9,...,20.1,4.9,8.6,2077,33.3,61.7,5.1,0.0,18.2,republican

In [723]:
if len(list3) != len(voting_data_Alabama1):
    list3.append('NA')

In [771]:
voting_data_Alabama1['Party'] = list3
voting_data_fin = voting_data_fin.append(voting_data_Alabama1, ignore_index = True)
voting_data_fin

<ipython-input-771-2b116b0b06a3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  voting_data_Alabama1['Party'] = list3

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,Party
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6,republican
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5,republican
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6,republican
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3,republican
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7,republican
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2975,56037,Wyoming,Sweetwater,44772,23359,21413,15.8,79.9,0.8,0.2,...,0.9,1.6,21.0,23010,78.6,17.7,3.7,0.0,5.4,republican
2976,56039,Wyoming,Teton,22311,11537,10774,15.1,81.2,0.2,0.4,...,4.9,5.5,14.4,14298,81.3,11.2,7.5,0.0,2.6,republican
2977,56041,Wyoming,Uinta,20930,10636,10294,8.9,87.8,0.2,0.4,...,1.6,3.0,20.4,10064,75.4,19.0,5.6,0.0,4.4,republican
2978,56043,Wyoming,Washakie,8400,4144,4256,14.0,82.4,0.7,0.3,...,2.8,4.5,12.3,3892,70.5,21.5,7.6,0.5,6.8,republican
2979,56045,Wyoming,Weston,7152,3695,3457,3.3,92.2,0.2,0.7,...,1.2,5.5,29.1,3343,70.2,20.2,8.3,1.3,5.2,republican

In [777]:
voting_data_fin

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,Party
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6,republican
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5,republican
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6,republican
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3,republican
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7,republican
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2975,56037,Wyoming,Sweetwater,44772,23359,21413,15.8,79.9,0.8,0.2,...,0.9,1.6,21.0,23010,78.6,17.7,3.7,0.0,5.4,republican
2976,56039,Wyoming,Teton,22311,11537,10774,15.1,81.2,0.2,0.4,...,4.9,5.5,14.4,14298,81.3,11.2,7.5,0.0,2.6,republican
2977,56041,Wyoming,Uinta,20930,10636,10294,8.9,87.8,0.2,0.4,...,1.6,3.0,20.4,10064,75.4,19.0,5.6,0.0,4.4,republican
2978,56043,Wyoming,Washakie,8400,4144,4256,14.0,82.4,0.7,0.3,...,2.8,4.5,12.3,3892,70.5,21.5,7.6,0.5,6.8,republican
2979,56045,Wyoming,Weston,7152,3695,3457,3.3,92.2,0.2,0.7,...,1.2,5.5,29.1,3343,70.2,20.2,8.3,1.3,5.2,republican

In [778]:
voting_data_fin.to_csv('Data for Census_Political affiliaion.csv')